/* CSS */

/* import fonts*/
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Francois+One&display=swap');

/* normal text */
*, body, p, li, ul a {
  font-size: 20pt;
  color: black;
  font-family: 'helvetica';
}

/* headings */

h1, h2, h3 {
  color: #002147;
  font-weight: bold;
  font-family: 'Francois One';
}

/* section slides*/
.section {
  background-color: #002147;
} 

.section * {
  font-size: 25pt;
  color: white;
  font-family: 'Francois One';
  font-weight: bold;
  text-align: center;
} 

/* special font sizes */
.small p, b, a { font-size: 15pt }

/* slide numbers */
.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
}

/* progress bar */
.progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.progress-bar {
  height: 100%;
  background-color: yellow;
}

/* for arranging images*/
.centered {
  align: center
  padding: 50% 50%;
}

.pull-left {
  float: left;
  margin-left: 30%;
}

.pull-left-normal {
  float: left;
  padding: 30% 30%;
}

.pull-right {
  float: right;
  margin-right: 30%;
}

.pull-right-normal {
  float: right;
  position: absolute;
  top: 50%;
  left: 55%;
}

/* inline code */
.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
  font-family: 'Courier Prime', monospace;
}

/* headings */


/* label */

.labelcolor{
  font-size: 12pt;
}

/* citations */
.citation {
    padding-left: 22px ;
    text-indent: -22px ;
    font-size: 12pt;
    padding-bottom: -20%;
}

/* slider */
slides > slide {
  overflow-y: auto !important;
}

/* colors */
.yellow {
  colour: yellow
}

.red {
  colour: red
}

.green {
  colour: green
}

.blue {
  colour: blue
}

.white {
  colour: white
}
